<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dspcalculatorandnotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSPCalculatorAndNotes">
        <activity
            android:name=".IDFTransform"
            android:label="IDFT"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dspcalculatorandnotes.MainActivity" />
        </activity>
        <activity
            android:name=".DFTransform"
            android:label="DFT"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dspcalculatorandnotes.MainActivity" />
        </activity>
        <activity
            android:name=".CCactivity"
            android:label="Circular Convolution"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dspcalculatorandnotes.MainActivity" />
        </activity>
        <activity
            android:name=".LCActivity"
            android:label="Linear Convolution"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dspcalculatorandnotes.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DSPCalculatorAndNotes.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>